.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #aad19b4f;
  border-radius: 10px;
}

.addIcon {
  width: 30px;
  height: 30px;
  color: #477958;
}

.field {
  margin-bottom: 0;
  outline: none;
}

.btn {
  border: none;
  background-color: transparent;
  transition: all 0.2s linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.5);
}
