.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
}

.addIcon {
  width: 20px;
  height: 20px;
  color: #477958;
  position: absolute;
  top: 21%;
  right: 6%;
}

.field {
  margin-bottom: 0;
  outline: none;
}

.btn {
  border: none;
  background-color: transparent;
}

.addIcon:hover,
.addIcon:focus {
  color: #79475e96;
  z-index: 1000;
}
