#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Brush Script MT", cursive;
  font-weight: bold;
  font-size: 70px;
}

.inputWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  gap: 30px;
}

.footer {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .inputWrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    gap: 10px;
  }
}
